@import "tailwindcss";

.gradient-border {
  position: relative;
  z-index: 0;
}

.gradient-border::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 0.5px;
  border-radius: inherit;
  background: linear-gradient(90deg, #000000, #00eaff, #03f70f);
  background-size: 300% 300%;
  animation: border-animate 3s linear infinite;

  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;

  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;

  z-index: -1;
}

.gradient-border::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  box-shadow: 0 0 10px rgba(255, 0, 200, 0.6), 0 0 10px rgba(51, 51, 255, 0.4);
  z-index: -2;
}

@keyframes border-animate {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
